body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('ttt.avif'); 
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
